:root {
  --main-bg: #223;
  --main-color: #eef;

  --screen-bg: #335;
  --snake-color: #25cf5a;
  --apple-color: #cf254d;
  --cell-size: 15px;
  --active-button-bg: #ffce00;
  --active-button-text: #a40000;

  --scores-text-color: #dde;
  --scores-header-bg: #1b1b2e;
  --scores-row-bg: #22223b;
  --scores-row-bg2: #292947;

  --scores-current-color: hsl(110, 33%, 90%);
  --scores-row-current: hsl(110, 26%, 18%);
  --scores-row-current2: hsl(110, 27%, 22%);
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Courier Prime', monospace;

  background-color: var(--main-bg);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
}

a,
button {
  display: inline-block;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--screen-bg);
  color: var(--main-color);
  border: none;
  margin: 0.2em;
  padding: 0.5rem;
}

a:hover,
button:hover {
  background-color: var(--active-button-bg);
  color: var(--active-button-text);
  transform: scale(110%);
}

a:active,
button:active {
  transform: scale(95%);
}

a {
  text-decoration: none;
}

h1 > #homepage-link {
  margin-top: 0;
}

#homepage-link {
  background-color: inherit;
}

#homepage-link:hover {
  color: inherit;
}

nav#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-game-link {
  font-size: 1.2rem;
}
