html,
body {
  margin: 0;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --screen-bg: white;
  --screen-border: 1px solid black;
  --snake-color: green;
  --cell-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
}
