#nick-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nick-input input {
  font-family: inherit;
  font-size: inherit;
  min-width: 10rem;
  margin-right: 0.2rem;
  padding: 0.3rem 0.7rem;
}

#switches {
  margin-top: 0.2rem;
}

#switches div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controls {
  margin-top: 1.5rem;
}

#controls div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#controls button {
  margin: 0.2rem;
  padding: 0;
  font-size: 2rem;
  font-weight: bold;
  width: 3.5rem;
  height: 3.5rem;
}
