#screen {
  border: var(--screen-border);
  background-color: var(--screen-bg);
}

#screen .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#screen .cell {
  width: var(--cell-size);
  height: var(--cell-size);
}

#screen .cell.empty {
  background-color: var(--screen-bg);
}

#screen .cell.snake {
  background-color: var(--snake-color);
}

#screen .cell.apple {
  background-color: var(--apple-color);
}
